#main{
  grid-template-columns : 5em calc((100% - 20em)) 5em 5em 5em;
}

#titlebar{
  grid-area: 1 / 2 / 2 / 5;
}

#menu{
  grid-area: 1 / 5 / 2 / 6;

}

#live-button{
  grid-area: 2 / 1 / 3 / 2;
}
#page{
  grid-column-end : 6;
}
#chat{
  grid-area : 2 / 2 / 4 / 6;
  display: none;
}
#chat-button{
  display: inline-block;
  text-align: center;
  color : #eee;
  /*font-size: 1.5em;*/
  /*font-weight: bold;*/
  text-decoration: underline;
  cursor: pointer;
  min-height: 3.5em;
  min-width: 3.5em;
  /*margin-top: 1em;*/
  /*margin-left: 1em;*/
  grid-area: 3 / 5 / 4 / 6;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0.3em;
  cursor: pointer;
}

#chat-button.opened{
  background-color: #888;
  grid-area: 1 / 5 / 2 / 6;
  position: relative;
  width: 100%;
  height: 100%;
  /*top : -100%;*/
  /*left : -3px;*/
  z-index: 1000;
}

#footer{
  vertical-align: middle;
  font-size: 1em;
  padding-top : 1.5em;
  padding-left : 0.75em;
  white-space: nowrap;
  grid-area: 3 / 2 / 4 / 3;
}


#listener-count{
  position: absolute;
  right: 0;
  display: inline-block;
  height: 100%;
  width: calc(100% - 2em);
  font-size: 2em;
  color : #ddd;
  padding-top : 0.5em;
  text-align: center;
  padding-bottom: 1em;
}

#listener-button{
  position: absolute;
  left: 0;
  display: inline-block;
  width: 4em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  box-sizing: border-box;
  height: 100%;
}

#listeners{
  grid-area: 3 / 3 / 4 / 5;
  font-size: 1em;
  text-align: right;
}

#listeners.opened{
  grid-area: 3 / 1 / 4 / 2;
  font-size: 1em;
  position: relative;
  top :-200%;
  height: 200%;
  padding : 0.3em;
  text-align: center;
  z-index: 1000;
  background-color: #000;
  font-size: 
}


#listener-count.opened{
  position: absolute;
  right: 0;
  display: inline-block;
  top : 50%;
  box-sizing: border-box;
  height: 50%;
  width: calc(100%);
  font-size: 1.75em;
  color : #ddd;
  padding-top : 0.55em;
  text-align: center;
  padding-bottom: 1em;
}
#listener-button.opened{
  position: absolute;
  top: 0;
  width: 100%;
  height: 42%;
  display: inline-block;
  padding : 0;
  padding-top : 2em;
  /*padding-top: 1em;*/
  /*padding-left: 1em;*/
  /*padding-bottom: 1em;*/
  box-sizing: border-box;
}
