html, body{
  padding: 0;
  margin:0;
  background-color: #000;
}
body{
  position: fixed;
  height: 100%;
}

*{
  font-family: Arial, Helvetica, sans-serif;
  color : #ddd;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

@font-face {
  font-family: 'fa_dxafexovberegular';
  src: url('fa_dxafexovbe-webfont.woff2') format('woff2'),
       url('fa_dxafexovbe-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

a:visited{
  color : #ddd;
}

#main{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  display : grid;
  /*overflow: hidden;*/
  grid-template-columns: 5em auto 5em 5em minmax(360px, 420px);
  grid-template-rows : 5em calc((100% - 10em)) 5em;
}

#play{
  grid-area: 1 / span 1 / 1 / 2;
  width: 100%;
  height: 100%;
  border: 7px solid #ddd;
  background-color: #ddd;
  color : #000;
  font-size : 2em;
  cursor: pointer;
  background-image: url(icons/play.svg);
  background-size: contain;
  background-repeat: no-repeat;
  outline : none;
}

#play:hover{
  border-color: #fff;
  background-color: #fff;
}

#play.playing{
  background-image: url(icons/pause.svg);
  background-color: #fff;
}

#titlebar{
  grid-area: 1 / 2 / 2 / 4;
  /*text-align: center;*/
  /*padding-top: 0.075em;*/
  padding: 0; margin: 0;
  background-color: #ddd;
  /*vertical-align: middle;*/
  overflow: hidden;
  box-sizing: border-box;
  /*border: 2px solid #ccc;*/
  vertical-align: middle;
}
#title-button{
  position: absolute;
  display: inline-block;
  color : #000;
  font-size: 3em;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  padding-left: 0.2em;
  padding-top: 0.1em;
  z-index: 1000;
  vertical-align: middle;

  height: 1.675em;

  /*position: relative;*/
}

#live-button{
  grid-area: 1 / 3 / 2 / 4;
  /*position: relative;*/
  display: inline-block;
  width: 3.5em;
  height: 3.5em;
  max-width: 3.5em;
  max-height: 3.5em;
  margin-top: 0.675em;
  margin-left : 0.75em;
  border-radius: 50%;
  background-color : #ff504a;
  opacity: 0.0;
  transition: opacity 0.5s;
  z-index: 1000;
  /*display: none;*/
}
#live-button.live{
  opacity: 1.0;
  /*background-image: none;*/
}

#menu{
  grid-area: 1 / 4 / 2 / 5;
  text-align: right;
  color : #f00;
  border: 2px solid #ddd;
  background-color: #ddd;
  font-size: 3em;
  font-weight: bold;
  vertical-align: middle;
}

#menu-button{
  display: none;
  text-align: center;
  color : #ddd;
  /*font-size: 1.5em;*/
  /*font-weight: bold;*/
  text-decoration: underline;
  cursor: pointer;
  min-height: 100%;
  /*min-width: 100%;*/
  /*margin-top: 0.25em;*/
  /*margin-left: 0.25em;*/
}

.streamer-link{
  display: block;
  cursor: pointer;
  text-decoration: underline;
  font-size: 1.5em;
  position: relative;
  width: 100%;
  padding: 0.5em;
  padding-right: 1em;
  box-sizing: border-box;
  background-color: #222d;
  user-select: none;
  text-align: right;
}
.streamer-link:hover{
  text-align: center;
  text-decoration: none;
  color: #000;
}
.streamer-link.live{
  color : #f00;
}
/*

#live{
  grid-area: 1 / 3 / 2 / 4;
  font-size : 2.5em;
  text-align: center;
  vertical-align: middle;
  text-align: center;
  vertical-align: middle;
  padding: 10%;
  background-color: #ddd;
  border-radius: 0;
} */
@keyframes diag {
  0%   {background-position: 0% 0%;}
  50%  {background-position: 100vh 100vh;}
}

#page{
  grid-area: 2 / 2 / 3 / 5;
  background-color: #000;
  background-size : 142px auto;  
  background-position : -20px -20px;  
  overflow-y:scroll;
  overflow-x:hidden;
  width: calc(100% + 20px);
  box-sizing: border-box;
  padding-right: 5px;
  animation: diag 100s infinite;
  animation-timing-function: linear;
}
#track{
  position: fixed;
  pointer-events: none;
  vertical-align: middle;
  padding-top: 0.775em;
  padding-left: 0.5em;
  box-sizing: border-box;
  font-size : 1.5em;
  overflow-x : hidden;
  white-space: pre;
  transform-origin: bottom left;
  transform: rotate(90deg);
  display: none;
  background-color: #0002;
}

#streamer{
  position: relative;
  width: 100%;
  height: auto;
  /*grid-area: 2 / 2 / 3 / 5;*/
  font-size : 2.5em;
  text-align: center;
  vertical-align: middle;
  padding-top: 0.25em;
  background-color: #000a;
}

#live-icon{
  position: relative;
  display: inline-block;
  font-size: 1em;
  margin-left: 0.5em;
  background-color: #ff504a;
}
#about{
  position: relative;
  width: 100%;
  height: auto;
  /*white-space: pre;*/
  /*background-color: #000;*/
  background-color: #000a;
  color: #fff;
  padding: 1em;
  box-sizing: border-box;
  font-size : 1.5em;
  /*border-bottom: 2px dotted #aaa;*/
}


.post{
  position: relative;
  width: 100%;
  height: auto;
  font-size : 1.5em;
  text-align: center;
  vertical-align: middle;
  padding: 1em;
  background-color: #000a;  
  margin : 0;
}





/*
#volume{
  grid-area: 2 / 1 / 5 / 2;
  background-color: #222;
  display: none;
  border: 1px solid #ddd;
}
*/

#sidebar{
  grid-area: 2 / 1 / 3 / 2;
  background-color: #000;
  cursor: grab;
  /*-webkit-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.62);*/
  /*-moz-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.62);*/
  /*box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.62);*/
  /*display: none;*/
  /*border: 1px solid #ddd;*/
}

#volume{
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #333;
  width: 100%;
  height: 100%;
}


#m3u{
  grid-area: 3 / 1 / 4 / 2;
  width: 100%;
  height: 100%;
  border: 7px solid #444;
  background-color: #000;
  color : #ddd;
  font-size : 2em; 
  cursor: pointer;
  background-image: url(icons/download.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

#m3u:hover{
  border-color : #ddd;
}
#menu-button:hover{
  background-color: #fff;
}
.scrolling{
  background-color: #333a;
  color : #ddd;
  font-size : 1.5em; 
  text-align: center;
  padding-top : 0.75em;
  overflow: hidden;
  word-wrap: none;
  height: 2.25em;
  /*display: none;*/
}

/*#scroll{
  background-color: #111;
  color : #ddd;
  font-size : 1.5em; 
  text-align: center;
  padding-top : 0.75em;
  display: none;
}*/
#footer{
  grid-area: 3 / 2 / 4 / 3;
  background-color: #000;
  color : #ddd;
  font-size : 1.5em; 
  text-align: left;
  vertical-align: middle;
  padding: 0;
  padding-left : 0.75em;
  padding-top : 0.75em;
  z-index: 1000;
}
.footer-link{
  text-decoration: none;
}

.link-button{
  /*margin: 0 auto;*/
  /*margin-bottom: -10%;*/
  object-fit: fit;
  display: inline-block;

  max-height: 2em;
  /*height: 80%;*/
  /*min-height: 80%;*/
  cursor: pointer;
}
.link-button:hover{
  filter: brightness(1.6);
}

#listeners{
  grid-area: 3 / 3 / 4 / 5;
  /*background-color: #000;*/
  color : #ddd;
  font-size: 1.5em;
  font-weight: bold;
  /*padding-top : 0.75em;*/
  padding: 0;
  padding-right : 0.5em;
  box-sizing: border-box;
  position: relative;
}
#chat{
  grid-area: 1 / 5 / 4 / 6;
  overflow: hidden;
  height: 100%;
  z-index: 1000;
  background-color: #000;
}
#chat-frame{
  background-color: #000;
}

#chat-button{
  grid-area: 3 / 4 / 4 / 5;
  display: none;
  background-color: #000;
  cursor: pointer;
}

#listener-count{
  position: absolute;
  right: 0;
  display: inline-block;
  height: 100%;
  width: calc(100% - 2em);
  font-size: 1.25em;
  color : #ddd;
  padding-top : 0.55em;
  text-align: center;
  padding-bottom: 1em;
}

#listener-button{
  position: absolute;
  left: 0;
  display: inline-block;
  width: 2em;
  padding-top: 1em;
  /*padding-left: 1em;*/
  padding-bottom: 1em;
  box-sizing: border-box;
  height: 100%;
}


#loading{
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  z-index: 10000;
  background-color: #000;
}
#loading_image{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
